:root{
    --width: 20vw
}


#background{
    width: calc(100% - var(--width));
    border-radius: 15px;
    margin: auto;
    margin: calc(10vh - 70px) auto;
}

#header-spacer{
    height: 70px;
}

#main{
    height: 100%;
    padding: 0 210px 0 210px;

}

iframe{
    border: 0;
    aspect-ratio: 16/8;
    width: 100%;
    height: auto;
    border-radius: 15px;
}


#information-holder{
    display: flex;
    justify-content: center;
    height: 500px;
    width: calc(100% - var(--width));
    margin: auto;
}

#information{
    
    height: auto;
    background-color: f9e3e3;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
    padding: 10px;
}

#cover{
    /*background-image: url("Images/batman.jpg");*/
    background-size: cover;
    aspect-ratio: 2/3;
    height: 90%;
    border-radius: 12px;
    margin: 25px;;
}
 
#information h2{
    font-size:3.5rem;
}
#description{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
}

#description p{
    font-size:medium;
    color:rgb(34, 31, 31);
}

#Categories{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.filler-holder{
    display: flex;
    justify-content: center;
    margin: 25px 0 50px 0;
}

.filler{
    width: calc(100% - var(--width)) !important;
    margin: auto;
    color: black !important
}

#movies{
    width: calc(100% - var(--width)) !important;
    margin: auto;
}

.header, header a{
    background: rgb(255, 255, 255);
    box-shadow: 0 0 4px rgba(14, 55, 55, 15%);
    color: black;
}

@media (max-width: 768px) {
    #background{
        padding-left: 35px;
        padding-right: 35px;
    }

    #information-holder{
        display: none;
    }

    .filler{
        padding-left: 35px;
        padding-right: 35px; 
    }

    #similar{
        padding-left: 0;
        padding-right: 0; 
        align-items: center;
        align-content: center
    }

    iframe{
        border: 0;
        aspect-ratio: 1 / 1;
        width: 100%;
        /* height: 70vh; */
        height: auto;
        border-radius: 15px;
    }
}