
*{
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

:root{
    --main-color: #5f0985;
    --global-margin: 200px;
    --global-radius:15px;
}

main{
    background-color: rgb(10, 10, 10);
}

body{
    margin: 0;

}

header{
    background-color: rgb(0, 0, 0);
    border-width:10px;
}


.header{    
    display: flex;
    align-items: center;
    
    position:fixed ;
        
    height: 70px;
    width: 100%;
    justify-content: space-between;
    padding: 15px 100px;
    z-index: 10000;

    transition: all .4s linear;
}

#name{
    display: flex;
    align-items: center;
}

#name img{
    width: 35px;
    height: 35px;
}

.active-header{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 4px rgba(14, 55, 55, 15%);
}

a{
    font-size: 2.5rem;
    color: white;
}

ul{
    display: flex;
    column-gap: 5rem;
    padding: 0;
    
}

ul li{
    position: relative;
}

ul a{
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
    
}
ul a::after{
    content: '';
    width: 0%;
    height: 2px;
    background: white;
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: all .1s;
}

ul a:hover::after{
    content: '';
    width:100%;
    height: 2px;
    background: white;
    position: absolute;
    bottom: -4px;
    left: 0;
}

.header.active-header ul a{
    color: #020307;
}
.header.active-header #name{
    color: #020307;
}

.header.active-header ul a:hover::after{
    background: black;
} 

.header.active-header .search{
    background-color: #e3e3e3;
    color: rgb(67, 67, 67);
}

.header.active-header #dropdown{
    fill: rgb(0, 0, 0);
}

#dropdown{
    width: 35px;
    height: 35px;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    display: none;
    fill: rgb(255, 255, 255);
}



.result{
    display: flex;
    background-color: #141414;
    border-radius: 9px;
    transition: all ease .2s;
}

.result:hover{
    background-color: #2b2a2a;
    cursor: pointer;
}

.searchResult-header{
    font-weight: 600;
    overflow-x:hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}
.search-text{
    width: 183px;
    /* padding-right: 10px; */
    text-overflow: ellipsis;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.result p{
    margin: 0;
}

.result-type{
    transition: all ;
    text-transform: capitalize;
}

.result-type::after{
    content: "";
    margin: .4rem;

}


::placeholder{
    color: rgb(73, 92, 111);
}

.header.active-header #input{
    background-color: #e3e3e3;
    color: rgb(67, 67, 67);
}

.header.active-header #input::placeholder{
    color: rgb(72, 84, 97);
}

.filler{
    display: flex;
    justify-content: flex-start;
    height: 60px;

    background-color: rgb(10, 10, 10);
    align-items: flex-end;
    padding-left: var(--global-margin);
    padding-right: var(--global-margin);

    flex-direction: row;
    flex-wrap: wrap;
}

.seperator{
    width: 100%;
    min-width: 200px;
    height: 2px;
    background-color: gray;
}

#movies{
    padding-top: 50px;
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    background-color: rgb(10, 10, 10);
}

.movie {
    width: 230px;
    margin: 10px;
    border-radius: 15px;
    margin-bottom: 30px;
    transition: all .3s cubic-bezier(0.19, 1, 0.22, 1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative; /* Added relative positioning */
    
}

.movie:hover {
    transform: scale(1.05);
}


.movie .poster {  
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.movie:hover .poster{
    transform: scale(1.1);
}

.movie:hover .description{
    opacity: 1;
}

.movie .description {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    padding: 1rem;
    padding-top: 100%;
    padding-bottom: 0px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    z-index: 10;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 100%);
    opacity: 0;
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);

}

.movie .description .movie-description {
    margin: 0px;
    display: flex;
    justify-content: space-between;
    font-weight: normal;
}


#series{
    padding-top: 50px;
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    background-color: rgb(10, 10, 10);
}

.bold{
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0px;
    margin-top: revert;
    overflow-x:hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    text-align: left;
}


#omslag{
    height: 98vh;
    width: auto;
}


.movie1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Ensure the slide takes full height */
    position: relative;
    background-size: cover;
    width: auto;
}

.swiper-info {
    position: absolute;
    color: white;
    padding: 10px;
    box-sizing: border-box;
    inset: 0;
    padding-left: 10rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 40rem;
}

.swiper-info button{
    background-color: red;
    border: 0;
    border-radius: 20px;
}

.swiper-info a{
    font-size: x-large;
    color: white;
    margin: 0px;
    padding: 15px 15px;
    border: 0;
    border-radius: 15px;
    background-color: var(--main-color);
    text-decoration: none;
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    width: fit-content;
}

.swiper-info a:hover{
    background-color: #3f0a55;
}

#movie2{

    background-size: cover;
    width: auto;
}

.movie-button{
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}

.genre{
    max-width: 100px;
    text-wrap: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}


.hidden{
    display: none;
}

#similar{
    padding-top: 50px;
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgb(10, 10, 10);
}

.search{
    background-color: rgb(198, 255, 255);
    border: none;
    padding: .15rem;
}

.search-button{
    border: none;
    background: var(--main-color);
    width: 5rem;
    color: white;
    height: 100%;
    border-radius: 2em;
    transition: all .2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.search-button:hover{
    background-color: rgb(84, 84, 84);
}

input:focus{
    outline: none;
}

swiper-slide{
    background-position: center;
}

#dropdown-selector{
    display: flex;
    margin-top: 70px;
    position: fixed;
    z-index: 100;
    width: 100%;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    backdrop-filter: blur(10px);
    height: 100vh;
    top: 0;
}

#dropdown-selector ul{
    display: flex;
    row-gap: .75rem;
    padding: 15px;
    flex-direction: column;
}

#dropdown-selector #input{
    margin-top: 20px;
}

.name{
    color: var(--main-color);
}

#helper{
    display: none;
}

#input{
    padding: .2em;
    padding-left: 1rem;
    background: rgb(198, 255, 255);
    font-weight: 400;
    border-radius: 2rem;
    border: none;
    color: rgb(0, 0, 0);
    width: 273px;
    height: 50px;
    display: inline-flex;
    justify-content: space-between;
    align-content: center;
}


#search-categories-container{
    height: 5rem;
    background-color: rgb(10, 10, 10);

    padding-left: var(--global-margin);
    padding-right: var(--global-margin);
    margin-top: 40px;
}

#search-categories{
    background-color: #141414;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
    padding: .6em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#categories{
    width: 60%;
    vertical-align: middle;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    overflow-x: hidden;
}

#categories a{
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 1.5rem;
    transition: all 0.15s ease-in-out;   
    border-radius: var(--global-radius);
}

#categories a:hover{
    background-color: #241c33;
}


footer{
    background-color: black;
    color: white;
    border-top: 1px solid rgb(50, 50, 50);
}

footer ul{
    display: block;
}

@media (max-width: 768px) {
    #omslag{
        height: 70vh;
    }
    
    .swiper-info{
        justify-content: flex-end;
        padding: 0 2rem 1rem 2rem;
        transform: scale(.8);
    }

    .filler{
        padding-left: 20px;
        padding-right: 20px; 
    }

    #movies{
        padding-left: 0;
        padding-right: 0; 
        align-items: center;
        align-content: center;
        overflow: scroll;
        flex-wrap: nowrap;
    }

    #series{
        padding-left: 0;
        padding-right: 0; 
        align-items: center;
        align-content: center;
        overflow: scroll;
        flex-wrap: nowrap;
    }

    .movie{
        width: 40vw;
    }
    .movie .poster{
        filter: contrast(1.1);
    }

    #dropdown{
        display: block;
        border-radius: 5px;
    }

    .header{
        padding: 15px 20px;
    }

    .header ul{
        display: none;
    }
    .header #input{
        display: none;
    }

    #helper{
        display: block;
    }
}

@media (max-width: 600px) {

}
